<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Myshop customer edit</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <%- include('sidebar') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <%- include('header') %>
                    <!-- partial -->
                    <div class="main-panel">
                        <div class="content-wrapper">


                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">customer Form</h4>
                                        <form class="form-sample" method="post">
                                            <p class="card-description"> Personal info </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Full Name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" placeholder="Full Name" name="full_name" value="<%= customer_data[0].full_name %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Mobile No</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" placeholder="Mobile Number" name="mobile_no" value="<%= customer_data[0].mobile_no %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Gender</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" name="gender">
                                                                <% for(var i=0;i<customer_data.length;i++){ %>
                                                                    <option value="<%= customer_data[i].gender %>"  <%
                                                                        if(customer_data[i].gender==customer_data[0].gender){
                                                                        %>
                                                                        <%="selected"%>
                                                                        <%}%>
                                                                        >
                                                                            <%= customer_data[i].gender %>
                                                                    </option>
                                                                <%}%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Category</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" name="category">
                                                                <% for(var i=0;i<customer_data.length;i++){ %>
                                                                    <option value="<%= customer_data[i].category %>" <% 
                                                                        if(customer_data[i].category == customer_data[0].category){
                                                                        %>
                                                                        <%="selected"%>
                                                                        <%}%>
                                                                        >
                                                                            <%= customer_data[i].category %>
                                                                    </option>
                                                                <%}%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="card-description"> Address </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Address</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="address" placeholder="Address" value="<%= customer_data[0].address %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Postcode</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="pincode" placeholder="Pin code" value="<%= customer_data[0].pincode %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">City</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="city" placeholder="City" value="<%= customer_data[0].city %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Pant Measurement -->
                                            <p class="card-description"> Pant Measurement </p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Length</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_length" value="<%= customer_data[0].p_length %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Waist</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_waist" value="<%= customer_data[0].p_waist %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Knee</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_knee" value="<%= customer_data[0].p_knee %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Loincloth</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_loincloth" value="<%= customer_data[0].p_loincloth %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Thigh</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_thigh" value="<%= customer_data[0].p_thigh %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Ankel</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_ankel" value="<%= customer_data[0].p_ankel %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Sheet</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="p_sheet" value="<%= customer_data[0].p_sheet %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Shirt Measurement -->
                                            <p class="card-description"> Shirt Measurement </p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Length</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_length" value="<%= customer_data[0].s_length %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Chest</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_chest" value="<%= customer_data[0].s_chest %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Stomach</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_stomach" value="<%= customer_data[0].s_stomach %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Solder</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_solder" value="<%= customer_data[0].s_solder %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">sleeves</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_sleeves" value="<%= customer_data[0].s_sleeves %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Collar</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_collar" value="<%= customer_data[0].s_collar %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Wrist</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_wrist" value="<%= customer_data[0].s_wrist %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Frant</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" name="s_frant" value="<%= customer_data[0].s_frant %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="card-description">Description</p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Description</label>
                                                        <div class="col-sm-9">
                                                            <textarea name="description" class="form-control" cols="30" rows="10"><%= customer_data[0].description %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- content-wrapper ends -->
                        <!-- partial:partials/_footer.html -->
                        <%- include('footer') %>
                            <!-- partial -->
                    </div>
                    <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <script src="../assets/js/settings.js"></script>
    <script src="../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>

</html>